html, body{
  height:100%;
}

a.navbar-brand{
	background-image: url('..');
}

.navbar{
	border: none;
    border-radius: 0;
}

.navbar-header{
	margin-top:5px;
}

.navbar-brand{
	padding:;
}

.navbar-default{
	color:#fff;

	background-color: #4C9D2F;
}

.navbar-default .navbar-brand{
	color:#fff;
}
.icon{
	height:40px;
}

.form-control{
	color:#fff;
	border:none;
	border-radius:0;
	/*background-color: #00b69a;*/
}

.input-group-addon{
	border-radius:0px;
}
.btn-default{
	color:#fff;
	background-color: #23475F;
	border-radius:0;
	border:none;
}
input{
	color:#fff;
}



#map {
  width: 100%;
  height: 100%;
  background-color: #CCC;
}


.navbar{
  margin-bottom:0px;

}

.show{
	display: block;
}

.hidden{
	display: none;
}