html, body{
  height:100%;
}

a.navbar-brand{
	background-image: url('..');
}

.navbar{
	border: none;
    border-radius: 0;
    position: fixed;
    top:0;
    z-index: 10;
	width:100%;
	height:50px;
}

.navbar-header{
	margin-top:5px;
}

.navbar-brand{
	padding:;
}

.navbar-default{
	color:#fff;

	background-color: #4C9D2F;
}

.navbar-default .navbar-brand{
	color:#fff;
}
.icon{
	height:40px;
}

.form-control{
	border:none;
	border-radius:0;
	/*background-color: #00b69a;*/
}

.input-group-addon{
	border-radius:0px;
}
.btn-default{
	color:#fff;
	background-color: #2c84cc;
	border-radius:0;
	border-top-style:none;
	border-right-style:none;
	border-bottom-style: 1px solid;
	border-left-style:none;
	border-color: #336c9b;
}

.btn-default:hover{
	background-color:#23475f;
	color:#fff;
	border-color: #336c9b;
}

input{

}

#map {
  width: 100%;
  height: 100%;
  background-color: #CCC;
  padding-bottom:10px;
}


.navbar{
  margin-bottom:0px;

}

.show{
	display: block;
}

.hidden{
	display: none;
}

.box-shadow{
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}